/* informacion.css */

/* Sección "Sobre Nosotros" */
#sobre-nosotros {
    padding: 60px 20px;
    text-align: center;
    background-color: #084f76; /* Fondo oscuro */
    color: #fff;
}

#sobre-nosotros .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#sobre-nosotros h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00aaff; /* Azul claro */
}

#sobre-nosotros p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
}

#sobre-nosotros h3 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #00aaff; /* Azul claro */
}

/* Estilo para las cajas de resumen */
.info-cajas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.info-caja {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.info-caja:hover {
    transform: scale(1.05);
}

.info-caja h4 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #00aaff; /* Color oro */
}

.info-caja p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #fff;
}

/* Botón de CTA */
.cta {
    margin-top: 40px;
}

.cta-btn {
    padding: 15px 30px;
    background-color: #00aaff; /* Color oro */
    color: #222222;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #34495e; /* Gris oscuro */
}

/* Footer */
footer {
    background-color: #2c3e50; /* Azul oscuro */
    color: #00aaff; /* Color oro */
    text-align: center;
    padding: 20px;
}

footer .footer-logo {
    margin-bottom: 10px;
}

footer .footer-logo img {
    max-width: 80px; /* Tamaño más pequeño del logo */
    height: auto;
    display: block;
    margin: 0 auto;
}
